@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Faustina:ital@1&family=Fjalla+One&family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&family=Roboto:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  font-family: "Poppins", sans-serif;
}

#page {
  display: none;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #fdd20e;
  background-image: url("images/preload.gif");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
}

/* START OF NAV HEADER */
header {
  min-height: 10vh;
  max-width: auto;
  background-color: #fdd20e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10rem;
}

div.links ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

li.page a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 0 1rem;
  color: #6a4a3c;
  font-size: 0.9rem;
  font-weight: 600;
}

.page {
  transition: all 0.3s linear;
}

.page:hover {
  transform: scale(1.1);
}

.logo {
  height: 9vh;
  width: auto;
}

button.contact {
  padding: 1rem;
  border-radius: 40px;
  background: #6a4a3c;
  border: none;
  cursor: pointer;
  color: #fdd20e;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  border: 2px inset #6a4a3c;
  transition: all 0.3s;
}

button.contact:hover {
  color: #6a4a3c;
  background: #fdd20e;
  border: 2px inset #6a4a3c;
}

.burger {
  display: none;
}

.burger div {
  height: 0.25rem;
  width: 2rem;
  background-color: #6a4a3c;
  margin: 5px;
}

/* START OF HERO SECTION */

.hero {
  border-top: #6a4a3c 2px solid;
  border-bottom: #6a4a3c 2px solid;
  min-height: 90vh;
  width: auto;
}

.background {
  height: 90vh;
  width: auto;
  background: url("./images/background.png") no-repeat center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

.hero-text {
  height: 90vh;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

h1.fun {
  color: #e9e6dd;
  font-family: "Roboto", sans-serif;
  font-size: 7rem;
  text-align: center;
  text-transform: lowercase;
}

h1.fun > span {
  color: #fdd20e;
}

h4.memories {
  color: #e9e6dd;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
}

h4.memories > span {
  color: #fdd20e;
}

button.book-btn {
  position: relative;
  z-index: 3;
  left: 50%;
  -ms-transform: translate(-50%, 30%);
  transform: translate(-50%, 30%);
  padding: 1.8rem 0.9rem;
  border-radius: 60px;
  /* background: rgba(253, 210, 14, 100%); */
  background: #f93822;
  border: none;
  cursor: pointer;
  color: #fdd20e;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  border: #f93822 3px solid;
  transition: all 0.3s;
}

button.book-btn:hover {
  background-color: #fdd20e;
  color: #f93822;
  border: #f93822 3px solid;
}

/* START OF LOCATION SECTION */

.location {
  background: #fdd20e;
}

h3.loc-text {
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem 0;
  color: #6a4a3c;
  border-top: 5px solid #6a4a3c;
  border-bottom: 5px solid #6a4a3c;
}

.loc-address {
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addr-text {
  padding-left: 11rem;
}

h4.liz-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.addr-text > p {
  font-size: 1rem;
  font-weight: 400;
}

h4.liz-text,
.addr-text > p {
  color: #6a4a3c;
}

.map-container {
  padding-right: 8rem;
}

#mapid {
  height: 20rem;
  width: 35rem;
}

/*<============= ABOUT PAGE  =========>*/
.about-hero {
  border-top: #6a4a3c 2px solid;
  border-bottom: #6a4a3c 2px solid;
  height: 90vh;
  width: 100%;
  background: url("./images/about.png") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.abt-filter1 {
  position: absolute;
  top: 10vh;
  height: 45vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.abt-filter2 {
  position: absolute;
  top: 55vh;
  height: 45vh;
  width: 100%;
  background-color: rgba(253, 210, 14, 0.6);
  z-index: 1;
}

.about-bigtext {
  font-family: "Roboto", sans-serif;
  color: #fdd20e;
  font-size: 8em;
  text-align: center;
  padding-top: 0.5em;
}

.about-text-container {
  padding: 4em 2em;
  display: flex;
  justify-content: space-between;
}

.about-text {
  font-size: 1.1em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #46332b;
}

/* END OF ABOUT PAGE */
/* START OF PRICING PAGE */

.rates-bg {
  border-top: #6a4a3c 2px solid;
  border-bottom: #6a4a3c 2px solid;
  height: 90vh;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

img.rates-img {
  padding-top: 30px;
  display: block;
  height: 90vh;
  margin: auto;
}

.rates-notes {
  height: 10vh;
  width: 100%;
  background-color: #fdd20e;
}

.notes {
  padding-top: 0.7rem;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.notes span {
  font-weight: 600;
  padding-right: 0.3rem;
}
/* END OF PRICING PAGE */

/* START OF AMMENITIES PAGE */

body.ammenities-body {
  background-color: #fdd20e;
}

.ammenities-container {
  border-top: #6a4a3c 2px solid;
  border-bottom: #6a4a3c 2px solid;
  padding: 2.5rem 0;
  width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container a.example-image-link {
  text-decoration: none;
  color: #46332b;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.amm-imgs {
  display: block;
  width: 100%;
  min-height: 12rem;
}

h5.img-text {
  position: absolute;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  top: 80%;
  left: 0;
  /* -ms-transform: translate(0, 20%);
  transform: translate(0, 20%); */
  background-color: #fdd20e;
  border: #46332b solid 3px;
  transition: all 0.3s linear;
  border-radius: 10px;
}

.img-container:hover .amm-imgs {
  opacity: 0.8;
}

.img-container:hover h5.img-text {
  left: 35%;
}

@media screen and (max-width: 1350px) {
  .loc-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addr-text {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .map-container {
    padding-top: 3rem;
    padding-right: 0;
  }
}

@media screen and (max-width: 1150px) {
  li.page a {
    font-size: smaller;
  }
  header {
    padding: 0 1.5rem;
  }
  button.contact {
    padding: 0.7rem;
    font-size: 0.7rem;
  }
  .loc-address {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .addr-text {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  .map-container {
    padding-top: 3rem;
    padding-right: 0;
  }
}

@media screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    z-index: 5;
    right: 0px;
    height: 65vh;
    top: 10vh;
    background-color: #fdd20e;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .page:hover {
    transform: scale(1);
  }
  .btn-container {
    background-color: #fdd20e;
    position: absolute;
    z-index: 5;
    right: 0px;
    height: 25vh;
    top: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  li.page a {
    font-size: 1.1rem;
  }
  header {
    padding: 0 3rem;
  }
  button.contact {
    padding: 1rem;
    font-size: 1rem;
  }

  button.contact {
    margin: auto;
  }

  h1.fun {
    font-size: 4.5rem;
  }

  h4.memories {
    font-size: 1.2rem;
  }

  h4.liz-text {
    font-size: 1.5rem;
  }

  .addr-text p {
    font-size: 0.9rem;
  }

  #mapid {
    height: 15rem;
    width: 23rem;
  }

  .burger {
    display: block;
    cursor: pointer;
  }

  img.rates-img {
    height: 60vh;
  }

  .rates-bg {
    height: 60vh;
  }

  .about-bigtext {
    font-size: 5rem;
    padding-top: 5rem;
  }

  .about-text-container {
    display: flex;
    flex-direction: column;
  }

  .about-text {
    font-size: 0.6rem;
    padding: 0;
  }
}

.nav-active {
  transform: translateX(0%);
}
